<div class="team-heartbeat <%= 'is-active' if team == @team %>">
  <div class="columns is-vcentered">
    <div class="column is-1">
      <span class="tag is-rounded has-text-weight-semibold"><%= ranking %></span>
    </div>
    <div class="column is-9 has-text-centered has-text-weight-normal">
      <span class="is-size-5"><%= team.name %></span>
    </div>
    <div class="column is-2 has-text-centered">
      <span class="is-size-5 has-text-weight-semibold"><%= team.rate_avg %></span>
    </div>
  </div>
</div>
