@import 'bulma/bulma';

.team-heartbeat {
  @extend .box;
  @extend .has-background-warning;
}

.live-heartbeat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  @extend .box;
  @extend .has-background-info;
}

.logo {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 200px
}
